<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Datos Personales</h5>
        </div>
        <div class="card-body">
          <form
            [formGroup]="FormularioGuardar"
            (ngSubmit)="onSubmit(FormularioGuardar.value)"
          >
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Nombres</label>
                  <input
                    type="text"
                    formControlName="usuarioNombre"
                    class="form-control"
                    placeholder="Nombres"
                    [(ngModel)]="getDatoUser.usuarioNombre"
                    name="_nombre"
                  />
                </div>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Apellidos</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Apellidos"
                    value=""
                    [(ngModel)]="getDatoUser.usuarioApellido"
                    name="_apellido"
                    formControlName="usuarioApellido"
                  />
                </div>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Correo</label>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Correo"
                    value=""
                    [(ngModel)]="obtenerEmailUser.email"
                    name="_correo"
                    formControlName="usuarioCorreo"
                    disabled
                  />
                </div>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Identidad</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Identidad"
                    value=""
                    [(ngModel)]="getDatoUser.usuarioDNI"
                    name="_dni"
                    formControlName="usuarioDNI"
                  />
                </div>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Fecha de Nacimiento</label>
                  <input
                    type="datetime-local"
                    class="form-control"
                    value=""
                    [(ngModel)]="getDatoUser.usuarioFechaNacimiento"
                    name="_fechanacimiento"
                    formControlName="usuarioFechaNacimiento"
                  />
                </div>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Telefono</label>
                  <input
                    type="tel"
                    placeholder="Telefono"
                    class="form-control"
                    value=""
                    [(ngModel)]="getDatoUser.usuarioTelefono"
                    name="_telefono"
                    formControlName="usuarioTelefono"
                  />
                </div>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Skype</label>
                  <input
                    type="text"
                    placeholder="Skype"
                    class="form-control"
                    value=""
                    [(ngModel)]="getDatoUser.usuarioSkype"
                    name="_skype"
                    formControlName="usuarioSkype"
                  />
                </div>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Pais</label>
                  <select
                    placeholder="Pais"
                    class="form-control"
                    [(ngModel)]="getDatoUser.pais_Id"
                    name="_pais"
                    formControlName="pais_Id"
                  >
                    <option
                      *ngFor="let indexCountry of getCountryUser"
                      value="{{ indexCountry.paisId }}"
                    >
                      {{ indexCountry.paisNombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Departamento</label>
                  <select
                    class="form-control"
                    [(ngModel)]="getDatoUser.paisDepartamento_Id"
                    name="_departamento"
                    formControlName="paisDepartamento_Id"
                  >
                    <option
                      *ngFor="let indexState of getStateUser"
                      value="{{ indexState.paisDepartamentoId }}"
                    >
                      {{ indexState.paisDepartamentoNombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Ciudad</label>
                  <select
                    class="form-control"
                    [(ngModel)]="getDatoUser.paisCiudad_Id"
                    name="_ciudad"
                    formControlName="paisCiudad_Id"
                  >
                    <option
                      *ngFor="let indexCity of getCityUser"
                      value="{{ indexCity.paisCiudadId }}"
                    >
                      {{ indexCity.paisCiudadNombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Codigo Postal</label>
                  <input
                    type="text"
                    placeholder="Codigo Postal"
                    class="form-control"
                    value=""
                    [(ngModel)]="getDatoUser.usuarioCodigoPostal"
                    name="_postal"
                    formControlName="usuarioCodigoPostal"
                  />
                </div>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Direccion</label>
                  <input
                    type="text"
                    placeholder="Direccion"
                    class="form-control"
                    value=""
                    [(ngModel)]="getDatoUser.usuarioDireccion"
                    name="_direccion"
                    formControlName="usuarioDireccion"
                  />
                </div>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Licencia de conducir</label>
                  <select
                    class="form-control"
                    [(ngModel)]="getDatoUser.licenciaConducir_Id"
                    name="licenciaConducir_Id"
                    formControlName="licenciaConducir_Id"
                  >
                    <option
                      *ngFor="let indexLicence of getLicencesUser"
                      value="{{ indexLicence.licenciaConducirId }}"
                    >
                      {{ indexLicence.licenciaConducirNombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Genero</label>
                </div>
                <input
                  type="radio"
                  class="radio-inline"
                  name="usuarioGenero"
                  value="H"
                  [(ngModel)]="getDatoUser.usuarioGenero"
                  formControlName="usuarioGenero"
                />&nbsp;<label> Hombre </label>
                &nbsp;
                <input
                  type="radio"
                  class="radio-inline"
                  name="usuarioGenero"
                  value="M"
                  [(ngModel)]="getDatoUser.usuarioGenero"
                  formControlName="usuarioGenero"
                />&nbsp;<label> Mujer </label>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Estado Civil</label>
                </div>
                <input
                  type="radio"
                  class="radio-inline"
                  name="usuarioEstadoCivil"
                  value="C"
                  [(ngModel)]="getDatoUser.usuarioEstadoCivil"
                  formControlName="usuarioEstadoCivil"
                />&nbsp;<label> Casado(a) </label>
                &nbsp;
                <input
                  type="radio"
                  class="radio-inline"
                  name="usuarioEstadoCivil"
                  value="S"
                  [(ngModel)]="getDatoUser.usuarioEstadoCivil"
                  formControlName="usuarioEstadoCivil"
                />&nbsp;<label> Soltero(a) </label>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Dispone de vehículo propio?</label>
                </div>
                <input
                  type="radio"
                  class="radio"
                  name="usuarioVehiculoPropio"
                  value="S"
                  [(ngModel)]="getDatoUser.usuarioVehiculoPropio"
                  formControlName="usuarioVehiculoPropio"
                />&nbsp;<label> Si </label>
                &nbsp;
                <input
                  type="radio"
                  class="radio"
                  name="usuarioVehiculoPropio"
                  value="N"
                  [(ngModel)]="getDatoUser.usuarioVehiculoPropio"
                  formControlName="usuarioVehiculoPropio"
                />&nbsp;<label> No </label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <br />
                  <label>Mas Sobre Mi</label>
                  <textarea
                    rows="4"
                    cols="80"
                    class="form-control"
                    placeholder="Escribe aqui tu descripcion"
                    value=""
                    formControlName="usuarioDescripcion"
                    [(ngModel)]="getDatoUser.usuarioDescripcion"
                    name="_aboutme"
                  >
                  </textarea>
                </div>
              </div>
            </div>
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Cuenta de Instagram</label>
                <input
                  type="text"
                  placeholder="Cuenta de Instagram"
                  class="form-control"
                  value=""
                  [(ngModel)]="getDatoUser.usuarioInstagram"
                  name="_instagram"
                  formControlName="usuarioInstagram"
                />
              </div>
            </div>
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Cuenta de Facebook</label>
                <input
                  type="text"
                  placeholder="Cuenta de Facebook"
                  class="form-control"
                  value="}"
                  [(ngModel)]="getDatoUser.usuarioFacebook"
                  name="_facebook"
                  formControlName="usuarioFacebook"
                />
              </div>
            </div>
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Cuenta de Twitter</label>
                <input
                  type="text"
                  placeholder="Cuenta de Twitter"
                  class="form-control"
                  value=""
                  [(ngModel)]="getDatoUser.usuarioTwitter"
                  name="_twitter"
                  formControlName="usuarioTwitter"
                />
              </div>
            </div>
            <button
              mat-raised-button
              type="submit"
              class="btn btn-danger pull-right"
              [disabled]="FormularioGuardar.invalid"
            >
              Guardar
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="..." />
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img
                class="avatar border-gray"
                src="../assets/img/mike.jpg"
                alt="..."
              />
              <h5 class="title">{{ getDatoUser.usuarioNombre }}</h5>
            </a>
            <p class="description text-center">
              {{ getDatoUser.usuarioDescripcion }}
            </p>
          </div>
          <hr />
          <div class="button-container">
            <button
              href="getDatoUser.usuarioFacebook"
              class="btn btn-neutral btn-icon btn-round btn-lg"
              (click)="goFacebook()"
            >
              <i class="fab fa-facebook-f"></i>
            </button>
            <button
              href="getDatoUser.usuarioTwitter"
              class="btn btn-neutral btn-icon btn-round btn-lg"
              (click)="goTwitter()"
            >
              <i class="fab fa-twitter"></i>
            </button>
            <button
              href=""
              class="btn btn-neutral btn-icon btn-round btn-lg"
              (click)="goInstagram()"
            >
              <i class="fab fa-google-plus-g"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Experiencia Laboral</h5>
        </div>
        <div class="card-body">
          <div class="form-row text-center">
            <div class="col-12">
                <button type="submit" class="btn btn-primary" ng-hide="formVisibility" ng-click="ShowForm()">Submit</button>
            </div>
          </div>
          <form
            [formGroup]="FormularioGuardar"
            (ngSubmit)="onSubmit(FormularioGuardar.value)"
          >
            <div class="row">
              <div class="col-md-7 pr-1">
                <div class="form-group">
                  <label>Empresa </label>
                  <input
                    type="text"
                    formControlName="usuarioNombre"
                    class="form-control _empresa"
                    placeholder="Empresa"
                    [(ngModel)]="getDatoUser.usuarioNombre"
                    name="_empresa"
                  />
                </div>
              </div>
              <div class="col-md-9 pr-1">
                <div class="form-group">
                  <label>¿Qué destacarias de la empresa?</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Ejemplo: Seguro médico, ambiente laboral, etc"
                    value=""
                    [(ngModel)]="getDatoUser.usuarioApellido"
                    name="_destacar"
                    formControlName="usuarioApellido"
                  />
                </div>
              </div>
              <div class="col-md-9 pr-1">
                <div class="form-group">
                  <label>¿Qué mejorarías de la empresa?</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Ejemplo: Dinámicas entre los compañeros"
                    value=""
                    [(ngModel)]="obtenerEmailUser.email"
                    name="_mejorar"
                    formControlName="usuarioCorreo"
                  />
                </div>
              </div>
              <div class="col-md-9 pr-1">
                <div class="form-group">
                  <label>Sector de empresa</label>
                  <select
                    placeholder="Selecciona"
                    class="form-control"
                    [(ngModel)]="getDatoUser.pais_Id"
                    name="_sector"
                    formControlName="pais_Id"
                  >
                    <option
                      *ngFor="let indexCountry of getCountryUser"
                      value="{{ indexCountry.paisId }}"
                    >
                      {{ indexCountry.paisNombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Cargo</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Cargo"
                    [(ngModel)]="getDatoUser.usuarioDNI"
                    name="_cargo"
                    formControlName="usuarioDNI"
                  />
                </div>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Área</label>
                  <input
                    type="text"
                    placeholder="Área"
                    class="form-control"
                    value=""
                    [(ngModel)]="getDatoUser.usuarioTelefono"
                    name="_area"
                    formControlName="usuarioTelefono"
                  />
                </div>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Fecha que inició</label>
                  <input
                    type="datetime-local"
                    class="form-control"
                    [(ngModel)]="getDatoUser.usuarioFechaNacimiento"
                    name="_fechaInicio"
                    formControlName="usuarioFechaNacimiento"
                  />
                </div>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Fecha que finalizó </label>
                  <input
                    type="datetime-local"
                    class="form-control"
                    [(ngModel)]="getDatoUser.usuarioFechaNacimiento"
                    name="_fechaFinal"
                    formControlName="usuarioFechaNacimiento"
                  />
                </div>
              </div>
              <div class="col-md-7">
                <div class="form-group">
                  <label>¿Recomendarías trabajar aquí?</label>
                </div>
                <input
                  type="radio"
                  class="radio-inline"
                  name="usuarioGenero"
                  value="S"
                  [(ngModel)]="getDatoUser.usuarioGenero"
                  formControlName="usuarioGenero"
                />&nbsp;<label> Sí </label>
                &nbsp;
                <input
                  type="radio"
                  class="radio-inline"
                  name="usuarioGenero"
                  value="N"
                  [(ngModel)]="getDatoUser.usuarioGenero"
                  formControlName="usuarioGenero"
                />&nbsp;<label> No </label>
              </div>
            </div>
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <br />
                <label>Funciones y logros del cargo</label>
                <textarea
                  rows="4"
                  cols="80"
                  class="form-control"
                  placeholder="Escribe aqui tus funciones y logros en el cargo"
                  formControlName="usuarioDescripcion"
                  [(ngModel)]="getDatoUser.usuarioDescripcion"
                  name="_aboutme"
                >
                </textarea>
              </div>
            </div>
            <button
              mat-raised-button
              type="submit"
              class="btn btn-danger pull-right"
              [disabled]="FormularioGuardar.invalid"
            >
              Guardar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
