._empresa {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAANlBMVEXj5uhkZGS0tLZra2vDxcjU1NfNzc9HcExzc3Pj4+esrK+lpaWbm527u77c3OF6en2MjIyChIRg3WTGAAAAEnRSTlNmZmZmZmZmAGZAZmZmZmZmZmZOUAoSAAAAhUlEQVR4Xn3Q2wqEMBAD0Ka3dNuqu///s65UBhkh8zAvB0JI+ARxVMqXlpyLodcJdEOvA8ih7zc+9dtiBraGaWi6A0jA9Q1N6xKkXzd8JsfL6l3I6X4gJaRtodMDGAPAQqcTKKEhLvSa/4m1BI/vJamUSqmUSqmUSqmUSqmUSqmUSqmUQk/7iAzYapivBAAAAABJRU5ErkJggg==);
    background-position: 100.1% 0;
    background-repeat: no-repeat;
}
