
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="https://www.studentwork.com">
            StudentWork
          </a>
        </li>
        <li>
          <a href="https://www.studentwork.com/about-us">
            About Us
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{Date | date: 'yyyy'}}, Designed & Coded by
      <a href="https://www.studentwork.com" target="_blank">StudentWork</a>.
    </div>
  </div>
</footer>
