<div class="logo">
  <a href="http://studentworkhn.web.app/" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/SinLetra.png" />
    </div>
  </a>
  <a href="http://studentworkhn.web.app/" class="simple-text logo-normal" style="color: #2c2c2c">
    <b>
      StudentWork
    </b>
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i
          class="now-ui-icons {{ menuItem.icon }}"
          style="color:#2c2c2c;"
        ></i>
        <p style="color: #2c2c2c">{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
